<div class="container home">
	<div class="row">
		<a (click)="retrieveItem()" class="pull-right history-link" *ngIf="!displayTable">History</a>
		<div class="row p-25" *ngIf="displayTable">
			<div class="pull-right">
				<button class="btn btn-primary" (click)="hideTable()"> Back</button>
			</div>
		</div>
		<div class="col-12 text-center components">
			<div *ngIf="!visible && !displayTable">
				<div class="row">
					<div class="col-12">
						<form (submit)="onformSubmit()">
							<div class="form-group">
								<input type="text" class="form-control" 
								id="date" placeholder="dd/mm/yyyy" 
								[(ngModel)]="date" name="username">
							</div>
							<div class="form-group">
								<input type="text" class="form-control" id="title" placeholder="title"
								[(ngModel)]="title" name="title">
							</div>
							<div class="form-group">
								<input type="text" class="form-control" id="description" placeholder="Description"
								[(ngModel)]="description" name="description">
							</div>
							<div class="form-group">
								<input type="text" class="form-control" id="deadline" placeholder="deadline"
								[(ngModel)]="deadline" name="deadline">
							</div>       
							<div class="form-group">
								<input type="text" class="form-control" id="teacher" placeholder="teacher"
								[(ngModel)]="teacher" name="teacher">
							</div>
							<button type="submit" class="btn btn-lg btn-primary btn-block">Submit</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div *ngIf="visible" class="detail-modal">
		<div class="row detail-display-align">
			<div class="col-md-12 modal-dialog modal-sm">
				<div class="modal-content">
			      <div class="modal-header">
			        <button type="button" (click)="setFlag()" class="close" data-dismiss="modal">&times;</button>
			        <h2 class="modal-title">Success!</h2>
			      </div>
			      <div class="modal-body">
			        
			        <span class="label-heading">DATE :</span> <span>{{date}}</span><br>
			        <span class="label-heading">TITLE :</span> <span>{{title}}</span><br>
			        <span class="label-heading">DESCRIPTION :</span> <span>{{description}}</span><br>
			        <span class="label-heading">DEADLINE :</span> <span>{{deadline}}</span><br>
			        <span class="label-heading">TEACHER :</span> <span>{{teacher}}</span>
			      </div>
			      <div class="modal-footer">
			      	  <button type="button" (click)="removeItem(id)" class="btn btn-default" data-dismiss="modal">Delete</button>
			        <button type="button" (click)="setFlag()" class="btn btn-default" data-dismiss="modal">Close</button>
			      </div>
			    </div>
			</div>
		</div>
	</div>
	<div class="panel panel-default" *ngIf="displayTable">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>
						Date
					</th>
					<th>
						Title
					</th>
					<th>
						Description
					</th>
					<th>
						Deadline
					</th>
					<th>
						Teacher
					</th>
					<th>
						Action
					</th>
				</tr>
			</thead>
			<tbody>
				 <ng-container *ngFor="let role of arrayList | paginate: { itemsPerPage: 5, currentPage: p }">
					<tr>
						<td style="width: 30%">
                    		{{role.date}}
                    	</td>
                    	<td style="width: 30%">
                    		{{role.title}}
                    	</td>
                    	<td style="width: 30%">
                    		{{role.description}}
                    	</td>
                    	<td style="width: 30%">
                    		{{role.deadline}}
                    	</td>
                    	<td style="width: 30%">
                    		{{role.teacher}}
                    	</td>
                    	<td>
                    		<a class="delete-btn" (click)="removeItem(role._id)">
                    			<i class="fa fa-trash-o" aria-hidden="true"></i>
                    		</a>
                    	</td>
                    </tr>
                </ng-container>
			</tbody>
		</table>
		<div class="row p-15">
			<!-- <div class="pull-right">
				<button class="btn btn-primary" (click)="hideTable()"> Back</button>
			</div> -->
			<div class="pull-right">
				<pagination-controls (pageChange)="p = $event"></pagination-controls>
			</div>
		</div>
	</div>
</div>

