 :host {
     font-family: Roboto; 
     width:100%;
     height: 100%;
    .home {
    	width : 100%;
        height: 100%;
        padding-top : 200px;
        padding-bottom :200px;
        background: white;
    	h2 {
    		color: #337ab7;
    	}
    	.components {
            display: table;
            margin: auto;
            width: 300px;
    	}
    }
 }
.alert-danger
{
    background-color: #2b1c4a !important;
    opacity: 0.7;
    position: fixed;
    top: 0px;
    right: 0px;
    height: 100px !important;
    width: 100px !important;
    overflow: hidden;
    z-index: 9999;
}
 
.flash-message
{
    z-index: 10000;
    position: relative;
    color:#2b1c4a;
}

.login-wrapper {
    background: white;
    .back-btn {
        margin-left: 20px;
        margin-top: 20px; 
    }
}